.App {
  text-align: center;
  background: #e5e5e5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  position: absolute;
  width: 360px;
  height: 379px;
  left: 76px;
  top: 69px;

  background: #0b2434;
}

.main {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 20px;
  top: 30px;

  background: #f5f5f5;
  border-radius: 10px;
}

.inner-main {
  position: absolute;
  width: 250.88px;
  height: 252.8px;
  left: 34.56px;
  top: 33.28px;
}
.die-main {
  display: grid;
  padding-top: 88px;
  justify-content: center;
  align-items: center;
  grid-template: auto auto / repeat(5, 1fr);
}
.die-container {
  margin-left: 7px;
  top: 15px;
  background-color: red;
  width: 42px;
  margin-top: 20px;
  height: 45px;
  border-radius: 10%;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
  background: #ffffff;
  border-radius: 3.81277px;
  color: #2b283a;
  padding: 0px 5px;
}
.die-face {
  margin-top: 5px;
  cursor: pointer;
  font-size: 2rem;
}

.roll-dice {
  position: relative;
  left: 0%;
  right: 0%;
  top: 185px;
  bottom: 0%;
  color: white;
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  width: 120px;
  height: 50px;
}

.die-face-hold {
  margin-top: 5px;
  cursor: pointer;
  font-size: 2rem;
  background-color: #59e391;
}

.desc {
  top: 50px;
  position: absolute;
}
